@font-face {
  font-family: 'rdr2';
  src: local('rdr2'), url('./public/rdr2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


/* App.css */
.App {
  text-align: center;
  
}

input {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #cacaca;
}

button {
  padding: 10px 15px;
  font-family: "rdr2";
  margin: 10px;
  background-color: #9b0000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #640202;
}

h1 {
  color: #000000;
  font-family: rdr2;
  font-weight: 700;

    
  }
  


.weather-info {
  margin-top: 20px;
  padding: 20px;
  border: 15px solid #e8e8e8;
  border-radius: 5px;
}
